# OS
.DS_Store

# Node / front-end
node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Tauri / Rust
**/src-tauri/target
**/target
Cargo.lock

# Go
go-api/bin
go-api/pkg

# Local env
.env
.env.*
